<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716093299703-u4jt50j1tr7pt2l4udv6971ubpemla0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716093299703-u4jt50j1tr7pt2l4udv6971ubpemla0o</string>
	<key>API_KEY</key>
	<string>AIzaSyA_Fc9s4OTlP4dh0nlWWWg2pCiioRjDtKs</string>
	<key>GCM_SENDER_ID</key>
	<string>716093299703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiFlow</string>
	<key>PROJECT_ID</key>
	<string>ai-flow-374403</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-flow-374403.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716093299703:ios:af9f9df8d943bad149ecf2</string>
</dict>
</plist>